.button {
    background-color: var(--wp--preset--color--contrast);
    border-width: 0;
    border-radius: 6px;
    cursor: pointer;
    color: var(--wp--preset--color--base);
    font-family: inherit;
    font-size: var(--wp--preset--font-size--small);
    padding: 0.5em 1em;
    text-decoration: none;
    user-select: none;

    &[disabled] {
        background-color: var(--wp--preset--color--cyan-bluish-gray);
        color: var(--wp--preset--color--accent-3);
        cursor: not-allowed;
    }
}

.button.fluency-button {
    background-color: white;
    border-color: var(--wp--preset--color--contrast);
    border-width: 1px;
    border-radius: 2px;
    color: var(--wp--preset--color--contrast);

    &:not([disabled]):hover {
        background-color: var(--wp--preset--color--accent-4);
        color: var(--wp--preset--color--base);
        font-weight: bold;
    }

    &:focus {
        background-color: var(--wp--preset--color--contrast);
        color: var(--wp--preset--color--base);
        font-weight: bold;
        outline: none;
    }
}
