.kanji-memory-card {
    border: 2px solid var(--wp--preset--color--contrast);
    border-radius: 6px;
    margin: 1em 0 !important;
}

.kanji-memory-card .hidden {
    display: none !important;
}

.kanji-memory-card__counter {
    font-size: 0.75em;
    margin-left: 0.25em;
    margin-top: 0.25em;
}

.kanji-memory-card__question {
    min-height: 4em;
    padding: 0.5em;
}

.kanji-memory-card__title {
    font-size: 2.0em;
    margin: 0.3em 0 0.5em;
    text-align: center;
}

.kanji-memory-card__answer {
    font-size: 1.2em;
    min-height: 4em;
    padding: 0.5em;
}

.kanji-memory-card__answer p {
    margin: 0;
}

.kanji-memory-card__buttons {
    border-bottom: 1px solid var(--wp--preset--color--contrast);
    display: flex;
    justify-content: space-between;
    padding: 1em 4em;
}

.kanji-memory-card__buttons .button {
    background-color: var(--wp--preset--color--contrast);
    border-width: 0;
    border-radius: 6px;
    cursor: pointer;
    color: var(--wp--preset--color--base);
    font-family: inherit;
    padding: 0.5em 1em;
    text-decoration: none;
}
